<%- include('../includes/header.ejs')%>
    <link rel="stylesheet" href="/css/agenda-styles.css" />
    <link rel="stylesheet" href="/css/calendar.css" />

  </head>
  <body>
    <div class="left-position">
      <div class="sidebar">
        <%- include('../includes/navigation.ejs')%>
      </div>
      <main class="main-content">
        <div class="title">
          <h2>Bienvenido</h2>
          <div><a class="nav-a" href="/">Agendapp</a></div>
        </div>
        <!-- Iterar sobre el arreglo de eventos -->
        <% eventos.forEach((evento) => { %>
          <!-- Mostrar cada propiedad del evento -->
          <h3><%= evento.titulo %></h3>
          <p><%= evento.descripcion %></p>
          <p><%= evento.horafecha %></p>
          <p><%= evento.asistentes %></p> 
          <p><%= evento.lugar %></p>
        <% }) %>

      </main>
    </div>
  </body>
</html>